{% extends "base.html.twig" %}

{% block body %}
    
     <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
      <figure><img src="{{ asset('bundles/framework/images/tree.png') }}">
        <figcaption>
     
            
    
    
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
         
   </figcaption>
      </figure>
    </section>

{% endblock body %}